body {
    background-color: #d9b334;
}

.modal-header, .modal-body {
    background-color: #f6f7f7;
}

label {
    color:#c97609
}

#video {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #dfc056;
}

#videoContainer {
    position: relative;
    margin: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
    box-sizing: content-box;
    border: 2px solid transparent;
}
#videoContainer::before, #videoContainer::after, #videoSpan::before, #videoSpan::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}
#videoContainer::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
#videoContainer::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
#videoSpan::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
#videoSpan::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.btn-primary, .btn-primary:hover {
    background-color: #252540;
    border-color: #252540;
}

.btn-close, .btn-close:hover {
  width: 35px;
  height: 35px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  background-color: #c97505;
  border-color: #c97505;
}

.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
