<html>
  <head>
    <title>Food Bank POC - Data Entry</title>
    <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="../style.css" rel="stylesheet type="text/css>
  </head>
  <div class="jumbotron jumbotron-fluid" style="background-color:inherit; text-align: -webkit-center;">
    <div class="container">
      <h1 class="display-4" style="color:#b3932b">INVENTORY</h1>
      <h1 class="display-4" style="color:#b3932b">SCANNER</h1>
    </div>
  </div>
  <body class="container">

    <p class="text-center">Type product barcode</p>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="BarcodeInput">
        <input type="hidden" name="Product" value="">
      </div>
      <p class="text-center">New product detected.</p>

      <div class="container">
        <button id="clear" type="reset" class="btn btn-default btn-circle" value="Clear"><i class="fa fa-times"></i></button>
        <button id="enterBarcode" type="button" class="btn btn-default btn-circle" value="Lookup"><i class="fa fa-arrow-right"></i></button>
        <button id="scan" type="button" class="btn btn-default btn-circle" value="Scan" onclick="location.href='../index.html' "><i class="fa fa-barcode"></i></button>
        <button id="launchForm" type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#modalForm" style="visibility:hidden"></button>
        <button id="lookup" type="button" class="btn btn-default btn-circle" value="Lookup" style="visibility:hidden"></button>
      </div>

    </form>

    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">NEW ENTRY</h5>
            <button id="closeModal" type="button" class="btn btn-primary btn-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times fs-xs"></i></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Barcode">BARCODE</label>
                <input type="text" class="form-control" name="Barcode">
                <input type="hidden" name="Product" value="">
              </div>
              <div class="form-group">
                <label for="Quantity">QUANTITY</label>
                <input type="number" class="form-control" inputmode="numeric" step="1" min="1" name="Quantity">
              </div>
              <div id="product-details">
                <div class="form-group">
                  <label for="Description">DESCRIPTION</label>
                  <input type="text" class="form-control" name="Description" readonly>
                </div>
                <div class="form-group">
                  <label for="Size">SIZE / WEIGHT</label>
                  <input type="text" class="form-control" name="Size" readonly>
                </div>
                <div class="form-group">
                  <label for="UOM">UNIT OF MEASURE</label>
                  <select name="UOM" class="form-control" disabled>
                    <option value=""></option>
                    <option value="g">g</option>
                    <option value="kg">kg</option>
                    <option value="ea">ea</option>
                    <option value="l">l</option>
                    <option value="ml">ml</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Category">CATEGORY</label><input type="text" class="form-control" name="Category" readonly>
                </div>
                <div class="form-group">
                  <label class="form-check-label" for="Halal?">HALAL?</label>
                  <input class="checkbox pull-right" type="checkbox" name="Halal?" disabled>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
